<!-- <div class="section2">
  <div class="container" style="max-width: 90%;">
    <div class="row">
      <div class="col-12">
        <div class="tabs">
          <div class="tabs__content">
            <div class="tabs__content__tab active">
              <div class="row">
                <div class="col-12">
                  <div class="panel">
                    <div class="container-login100-form-btn" style="padding: 5px 0px;justify-content: space-between;">
                      <button class="login100-form-btn" (click)="homeClick()">
                        Вернуться назад
                      </button>
                      <button class="login100-form-btn" (click)="logOut()">
                        Выйти
                      </button>
                    </div>
                    <app-sort-header [students]="students" (onChange)="emmitMethod($event)"></app-sort-header>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
