/* .section2 {
  padding-top: 35px;
  padding-bottom: 15px;
  background: url("src/img/MainBackground.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.tabButton {
  margin: 15px 5px;
} */
