<mat-card *ngFor="let user of users" class="example-card" (click)="onSelectUser(user)" style="margin-bottom: 1%;">
  <mat-card-header style="padding: 6px; height: 44px;">
    <div mat-card-avatar class="example-header-image" style="background-image: url('{{user.avatar}}');"></div>
    <mat-card-title style="color: black;">{{user.fio}}</mat-card-title>
    <mat-card-subtitle>Status</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="color: black; padding: 8px 16px;">
    <p>
      типа текст
    </p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button (click)="testCase()" mat-button style="color: black;">LIKE</button>
    <button mat-button style="color: black;">SHARE</button>
  </mat-card-actions> -->
</mat-card>
