<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-logo"></span>

        <span class="login100-form-title p-b-34 p-t-27">
          Регистрация
        </span>

          <div class="wrap-input100 validate-input" data-validate="Enter name">
            <input matInput class="input100" type="text" placeholder="Имя"
              [(ngModel)]="user.fio" [ngModelOptions]="{standalone: true}" required>
            <span class="focus-input100" data-placeholder=""></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Enter login">
            <input matInput class="input100" type="text" placeholder="Придумайте логин"
              [(ngModel)]="userLoginAndPass.login" [ngModelOptions]="{standalone: true}" required>
            <span class="focus-input100" data-placeholder=""></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input matInput class="input100" type="password" placeholder="Придумайте пароль"
              [(ngModel)]="userLoginAndPass.password" [ngModelOptions]="{standalone: true}" required>
            <span class="focus-input100" data-placeholder=""></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Repeat password">
            <input matInput class="input100" type="password" placeholder="Повторите пароль"
              [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
            <span class="focus-input100" data-placeholder=""></span>
          </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="homeClick()">
            Вернуться назад
          </button>
          <button class="login100-form-btn" (click)="registr()">
            Зарегистрироваться
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
